.cart-container { 
    padding: 20px; 
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
    margin-top: 15vh;
}

.empty-cart__img {
    width: 15vw;
}

.empty-cart__title {
    margin: 0;
    font-size: 4vh;
    font-weight: 600;
    padding-left: 2vw;
}

.result-sum {
    box-shadow: 0 5px 5px rgb(185, 184, 184);
    background-color: white; 
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    padding: 17px;
}

.cart-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}
.card {
    background-color: white;
    box-shadow: 0 5px 5px rgb(185, 184, 184);
    justify-content: space-between;
    border-radius: 10px;
    display: flex;
    padding: 15px;
}

.card-content {
    display: flex;
}

.card-content__img {
    max-width: 11vw;
    display: block;
}

.card-list-description { 
    padding-left: 2vw;
}

.card-list-description__title {
    font-weight: 600;
    padding-bottom: 1vh;
}

.card-delete-btn {
    border: 0;
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
}

@media(max-width: 992px) { 
    .card-content__img {
        max-width: 16vw;
        display: block;
    }
}
@media(max-width: 768px) { 
    .card-content__img {
        max-width: 25vw;
    }
}
@media(max-width: 576px) {
    .card-content__img {
        max-width: 30vw;
    }
    .card-list-description {
        padding-left: 0px;
    }

}
@media(max-width: 430px) {
    .empty-cart__img {
        width: 20vw;
    }

    .card {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .card-content {
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }
    .card-content__img {
        max-width: 100%;
        display: block;
    }
    .card-list-description__title {
        padding-top: 10px;
    }
}
