.catalog-container {
    padding: 50px;
}

.items-list {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 4fr 4fr 4fr;
    grid-gap: 10px;
}

@media (max-width: 992px) {
    .catalog-container {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .catalog-container {
        padding: 6vw;
    }
    .items-list {
        display: grid;
        grid-template-columns: 6fr 6fr;
        grid-template-rows:  6fr 6fr;
        grid-gap: 0;
    }
}
@media (max-width: 576px) {
    .catalog-container {
        padding: 4vw;
    }
    .items-list {
        grid-gap: 0;
    }
}

@media (max-width: 480px) {
    .catalog-container {
        padding: 5vw;
    }
    .items-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  1fr;
        grid-gap: 0;
    }
}