.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 32px;
    box-shadow: 0 5px 10px rgb(156, 155, 155);
    width: 100%;
   
    color: white; 
    background: #333333;
    
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;

}
.header_sticky {
    position: sticky; 
    top: 0px;
    z-index: 5;
}

.nav-menu-and-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.shop-logo {
    font-size: 32px;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.nav-menu__link {
    font-size: 16px;
    text-decoration: none;
    color: inherit;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
}

.cart-item__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.cart-item__link__items-count {
  padding: 0;  
  margin: 0;
  font-size: 18px;
}

@media(max-width: 576px) {
    .shop-logo {
        display: none;
    }
}

@media(max-width: 768px) {
    .shop-logo {
        font-size: 28px;
    }
}